<main id="main" class="main">

    <div class="pagetitle">
      <h1>Master File {{nTotalRecord}}</h1>
       
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
    
       <div class="col-lg-12">

          
            <div class="card">
                <div class="card-body">
   <!-- <button type="button" class="btn btn-primary btn-sm" (click)="openModel(template)">Mark as CBank</button> 
   <button type="button" class="btn btn-danger btn-sm" (click) = "showRemindar()"> 
    Send    
  </button>-->
                  <button type="button" class="btn btn-secondary" (click)="Filter(0)">No Action</button>
                  <button type="button" class="btn btn-info ms-3" (click)="Filter(1)">Batch </button>
                  <button type="button" class="btn btn-success ms-3" (click)="Filter(2)">Card Applied</button>
                  <button type="button" class="btn btn-success ms-3" (click)="Filter(8)">Acc/No Rvd</button>
                  <button type="button" class="btn btn-primary ms-3" (click)="Filter(3)">Card Rvd</button>
                  <button type="button" class="btn btn-warning ms-3" (click)="Filter(4)">Card Activated</button>
                  <button type="button" class="btn btn-danger ms-3" (click)="Filter(-1)">Cancelled</button>
                  <button type="button" class="btn btn-link ms-3" (click)="RefreshData()">Refresh</button>&nbsp;

                  <ng-template [ngIf]="msg.$Role.value=='A' || msg.$Role.value=='O'">
                    <button type="button" class="btn btn-danger rounded-pill ms-4 " style="margin-right: 0rlh;" (click)="generateBatch('8069')">Generate Batch</button>&nbsp;
                    <button type="button" class="btn btn-success ms-3" (click)="ExportToExcel()">Export To Excel</button>
                    <button type="button" class="btn btn-secondary ms-2" (click)="UnMatchedEmiratedID()"><i class="bi bi-collection"></i></button>
                </ng-template>
               
              </div>
              </div>
    
          <div class="card">
            <div class="card-body">
             
              <!-- Table with hoverable rows -->
              <table class="table table-hover table-bordered" id="table-data">
                <thead>
                  <tr>
                    <th>S.No</th>
                    <th>Status</th>
                    
                    <th scope="col">Emp No</th>
                    <th>Name</th>
                    <th>Offshore</th>
                    <th>Designation</th>
                    <th>Remarks</th>
                    <th>Mobile</th>
                    <th>DOJ</th>
                    <th>DOB</th>
                    <th>C.MOL</th>
                    <th>E.MOL</th>
                    <th>LC#</th>
                    <th>Exp</th>
                    <th>EM.ID</th>
                    <th>Exp On</th>
                    <th>Nationality</th>
                    <th>PP</th>
                    <th>Action</th>
                    
                  </tr>
                </thead>
                <tbody >
                  <tr *ngFor="let e of MasterRecord;let i=index" >
                    <td>{{i+1}}</td>
                    <ng-template [ngIf]="e.cardStatus==0">
                      <td ><span class="badge rounded-pill bg-secondary" style="pointer-events: none">No Action</span></td>
                  </ng-template>    
                  <ng-template [ngIf]="e.cardStatus==1" s>
                      <td><span class="badge rounded-pill bg-info text-dark" style="pointer-events: none">Batch Generated</span></td>
                  </ng-template>   
                  
                  <ng-template [ngIf]="e.cardStatus==8" s>
                    <td><span class="badge rounded-pill bg-success" style="pointer-events: none">Acc/No RVD</span></td>
                </ng-template>   
                  <ng-template [ngIf]="e.cardStatus==2" >
                      <td><span  class="badge rounded-pill bg-success" style="pointer-events: none">Applied</span></td>
                  </ng-template>    
                  <ng-template [ngIf]="e.cardStatus==3">
                      <td><span class="badge rounded-pill bg-primary" style="pointer-events: none">Received</span></td>
                  </ng-template>   
                  
                  <ng-template [ngIf]="e.cardStatus==4">
                      <td><span class="badge rounded-pill bg-warning text-dark" style="pointer-events: none">Activated</span></td>
                  </ng-template> 
                  <ng-template [ngIf]="e.cardStatus==-1" >
                    <td><span class="badge rounded-pill bg-danger text-dark" style="pointer-events: none">Cancelled</span></td>
                </ng-template> 
                    <td>{{e.empCode}}</td>
                    <td>{{e.empName}}</td>
                    <td>{{e.offshoreYn}}</td>
                    <td>{{e.designation}}</td>
                    <td>{{e.empRef2}}</td>
                    <td>{{e.mobileNo}}</td>
                    <ng-template [ngIf]="e.joiningDate!=null">
                      <td>{{e.joiningDate | date:'dd'}}/{{e.joiningDate | date:'MM'}}/{{e.joiningDate | date:'yyyy'}}</td>
                  </ng-template>    
                  <ng-template [ngIf]="e.joiningDate==null">
                      <td></td>
                  </ng-template>    
                    <ng-template [ngIf]="e.dob!=null">
                        <td style="background-color: burlywood;">{{e.dob | date:'dd'}}/{{e.dob | date:'MM'}}/{{e.dob | date:'yyyy'}}</td>
                    </ng-template>    
                    <ng-template [ngIf]="e.dob==null">
                        <td style="background-color: burlywood;"></td>
                    </ng-template>    
                    
                    <ng-template [ngIf]="e.molRegNo!=null">
                      <td>{{removeZeros(e.molRegNo)}}</td>
                    </ng-template>
                     <ng-template [ngIf]="e.molRegNo==null">
                        <td></td>
                     </ng-template>
                     <td style="background-color: burlywood;">{{e.labPersno}}</td>
                    <td style="background-color: burlywood;">{{e.labIdNo}}</td>
                    
                    <ng-template [ngIf]="e.labIdExp!=null">
                        <td style="background-color: burlywood;">{{e.labIdExp | date:'dd'}}/{{e.labIdExp | date:'MM'}}/{{e.labIdExp | date:'yyyy'}}</td>
                    </ng-template>
                    <ng-template [ngIf]="e.labIdExp==null">
                        <td style="background-color: burlywood;"></td>
                    </ng-template> 
    
                    <td style="background-color: burlywood;">{{e.emiratesIdNumber}}</td>
                    <ng-template [ngIf]="e.emiratesIdExpiryDate!=null">
                        <td style="background-color: burlywood;">{{e.emiratesIdExpiryDate | date:'dd'}}/{{e.emiratesIdExpiryDate | date:'MM'}}/{{e.emiratesIdExpiryDate | date:'yyyy'}}</td>
                    </ng-template>
                    <ng-template [ngIf]="e.emiratesIdExpiryDate==null">
                        <td style="background-color: burlywood;"></td>
                    </ng-template>   
                    <td style="background-color: burlywood;">{{e.english}}</td>
                    <td style="background-color: burlywood;">{{e.epasspNo}}</td>
                   
                    <ng-template [ngIf]="e.cardStatus==0  &&  msg.$Role.value=='A'">
                      <td>
                           <!-- <button type="button" class="btn btn-primary btn-sm" (click)="openModel(template)">Mark as CBank</button>  -->
                          <button type="button" class="btn btn-primary btn-sm mt-1" (click)="MarkAsBank(e.empCode,5,0,e.projectCode)">Mark as Bank</button>
                      </td>
                    </ng-template>

                    <ng-template [ngIf]="e.cardStatus==-1  &&  msg.$Role.value=='A'">
                      <td>
                        <button type="button" class="btn btn-danger btn-sm mt-1" (click)="MarkAsBank(e.empCode,100,0,e.projectCode)">Cancelled</button>
                        <button type="button" class="btn btn-warning btn-sm mt-1" (click)="MarkAsBank(e.empCode,0,e.eformId,e.projectCode)">Revert</button>
                       
                         
                      </td>
                    </ng-template>

                  </tr>
                </tbody>
              </table>
              <!-- End Table with hoverable rows -->
            </div>
          </div>
        </div>
      </div>
    </section>


    <ng-template #template>
      <div class="modal-header">
         <h4 class="modal-title">My APP</h4>
         <button type="button" class="close pull-right" aria-label="close" (click)="modelRef.hide()">
           <span aria-hidden="true">&times;</span>
         </button>
        
      </div>
      <div class="modal-body">
       <label for="inputMessage">-Template-Name</label>
       <input type="text"> <br>
  
       <label for="inputMessage">Address</label>
       <input type="text">
  
  
   </div>
  
   <!-- Modal footer -->
   <div class="modal-footer">
      
     <button type="button" class="btn btn-danger" data-dismiss="modal" >Close</button>
   </div>
  
   </ng-template>

   <!-- The Modal -->
   <div class="modal" id="myModal" [style.display]="showModal ? 'block' : 'none'">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">{{ title }}</h4>
          <button type="button" class="close" data-dismiss="modal" (click) = "hide()">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
            <label for="inputMessage">Remarks</label>
            <textarea class="form-control" id="inputMessage" 
            placeholder="Enter your Remarks" [(ngModel)]="RemindarRemarks"></textarea>
        </div>
        
        
        <!-- Modal footer -->
        <div class="modal-footer">
            <a href="#" class="submitBtn btn btn-success">Confirm</a>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click) = "hide()">Close</button>
        </div>
        
      </div>
    </div>
</div>


<!-- <div class="popup-overlay" *ngIf="isPopupVisible">
  <div class="popup-content">
    <h2>Popup Title</h2>
    <p>This is the content of the popup!</p>
    <button (click)="closePopup()">Close</button>
  </div>
</div>

<button (click)="showPopup()">Open Popup</button> -->

  </main><!-- End #main -->


   
 


