<main id="main" class="main">

  <ng-template [ngIf]="this.selectedValue!=undefined">
   <div class="pagetitle">
      <strong style="color: red;font-weight:bold;font-size:large">{{this.formateDate | date:'dd'}}/{{this.formateDate | date:'MM'}}/{{this.formateDate | date:'yyyy'}}</strong>
     
    </div>
  </ng-template> 
    <!-- End Page Title - -->


    
    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-12" >

          <div class="row" >

            <!-- Sales Card -->
            <div class="col-xxl-4 col-md-3"   >
              <div class="card info-card sales-card"  >

                <div class="card-body"   >
                  <h5 class="card-title">Cash Salary Count (Ezware Emp Master) </h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <ng-template  [ngIf]="this.selectedValue!=undefined">
                        <a [routerLink]="['/listing','Cash',selectedValue]"><i class="bi bi-people"></i></a>
                      </ng-template>  
                      <ng-template  [ngIf]="this.selectedValue==undefined">
                        <a [routerLink]="['/onlinelisting','Cash']"><i class="bi bi-people"></i></a>
                      </ng-template>
                    </div>
                    <div class="ps-3"  *ngIf="isloading">
                      <h6>{{DailySuumary.cash}}</h6>
                    </div>
                   
                  </div>
                </div>

              </div>
            </div><!-- End Sales Card -->

            <div class="col-xxl-4 col-md-2">
              <div class="card info-card revenue-card">


                <div class="card-body"  >
                  <h5 class="card-title">To be Applied</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <ng-template  [ngIf]="this.selectedValue!=undefined">
                        <a [routerLink]="['/listing','EMTOApp',selectedValue]"><i class="bi bi-people"></i></a>
                      </ng-template>  
                      <ng-template  [ngIf]="this.selectedValue==undefined">
                        <i class="bi bi-people"></i>
                      </ng-template>
                    </div>
                    <div class="ps-3"  *ngIf="isloading">
                      <h6>{{DailySuumary.emirateIDTobeApplied}}</h6>
                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Revenue Card -->


            <!-- Revenue Card -->
            <div class="col-xxl-4 col-md-2">
              <div class="card info-card revenue-card">


                <div class="card-body"  >
                  <h5 class="card-title">Emirates ID Issued (EPRO)</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <ng-template  [ngIf]="this.selectedValue!=undefined">
                        <a [routerLink]="['/listing','EMID',selectedValue]"><i class="bi bi-people"></i></a>
                      </ng-template>  
                      <ng-template  [ngIf]="this.selectedValue==undefined">
                        <a [routerLink]="['/onlinelisting','EMID']"><i class="bi bi-people"></i></a>
                      </ng-template>
                    </div>
                    <div class="ps-3"  *ngIf="isloading">
                      <h6>{{DailySuumary.emirates}}</h6>
                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Revenue Card -->

      
        
            <div class="col-xxl-4 col-md-2">

              <div class="card info-card customers-card">

         
                <div class="card-body">
                  
                    <h5 class="card-title">Account Under Process</h5>
                    
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <ng-template  [ngIf]="this.selectedValue!=undefined">
                        <a [routerLink]="['/listing','Applied',selectedValue]"><i class="bi bi-people"></i></a>
                      </ng-template>  
                      <ng-template  [ngIf]="this.selectedValue==undefined">
                        <a [routerLink]="['/onlinelisting','Applied']"><i class="bi bi-people"></i></a>
                      </ng-template>
                      
                    </div>
                    <div class="ps-3"  *ngIf="isloading">

                      <h6 >{{DailySuumary.applied}}</h6>
                    </div>
                  </div>

                </div>
              
              </div>

            </div><!-- End Customers Card -->

               <!-- Customers Card -->
               <div class="col-xxl-4 col-md-3">

                <div class="card info-card customers-card">
  
           
  
                  <div class="card-body">
                    <h5 class="card-title">Card-Under Process </h5>
  
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <ng-template  [ngIf]="this.selectedValue!=undefined">
                           <a [routerLink]="['/listing','AccNo',selectedValue]"><i class="bi bi-people"></i></a>
                       </ng-template>
                       <ng-template  [ngIf]="this.selectedValue==undefined">
                        <a [routerLink]="['/onlinelisting','AccNo']"><i class="bi bi-people"></i></a>
                      </ng-template>
                      </div>
                      <div class="ps-3"  *ngIf="isloading">
                        <h6>{{DailySuumary.accountNoRvd}}</h6>
                      </div>
                    </div>
  
                  </div>
                </div>
  
                


              </div><!-- End Customers Card -->

              <div class="col-xxl-4 col-md-4">

                <div class="card info-card customers-card">
  
           
  
                  <div class="card-body">
                    <h5 class="card-title">Bank Salary Count (Ezware Emp Master) </h5>
  
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <ng-template  [ngIf]="this.selectedValue!=undefined">
                          <a [routerLink]="['/listing','BCard',selectedValue]"><i class="bi bi-people"></i></a>
                      </ng-template>
                      <ng-template  [ngIf]="this.selectedValue==undefined">
                        <a [routerLink]="['/onlinelisting','BCard']"><i class="bi bi-people"></i></a>
                     </ng-template>
                      </div>
                      <div class="ps-3"  *ngIf="isloading">
                        <h6>{{DailySuumary.htransfer}}</h6>
                      </div>
                    </div>
  
                  </div>
                </div>
  
                


              </div><!-- End Customers Card -->


              

              <div class="col-xxl-4 col-md-2">

                <div class="card info-card customers-card" style="background-color: yellow;">
  
           
  
                  <div class="card-body" >
                    <h5 class="card-title">Total </h5>
  
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <ng-template  [ngIf]="this.selectedValue!=undefined">
                          <a [routerLink]="['/lstTotal',selectedValue]"><i class="bi bi-people"></i></a>
                      </ng-template>
                      <ng-template  [ngIf]="this.selectedValue==undefined">
                        <a [routerLink]="['/onlinelisting','Total']"><i class="bi bi-people"></i></a>
                     </ng-template>
                      </div>
                      <div class="ps-3"  *ngIf="isloading">
                        <h6>{{DailySuumary.cash + DailySuumary.htransfer}} </h6>
                      </div>
                    </div>
  
                  </div>
                </div>
  
                


              </div><!-- End Customers Card --> 

 
               <!-- Customers Card -->
               <div class="col-xxl-4 col-md-3" *ngIf="msg.$Role.value=='A' && this.selectedValue==undefined" >

                <div class="card info-card customers-card" style="background-color:lightgray;">
  
           
  
                  <div class="card-body" >
                    <h5 class="card-title">Card - Received (Info) </h5>
  
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <ng-template  [ngIf]="this.selectedValue!=undefined">
                          <a [routerLink]="['/listing','RVD',selectedValue]"><i class="bi bi-people"></i></a>
                      </ng-template>
                      <ng-template  [ngIf]="this.selectedValue==undefined">
                        <a [routerLink]="['/onlinelisting','RVD']"><i class="bi bi-people"></i></a>
                     </ng-template>
                      </div>
                      <div class="ps-3"  *ngIf="isloading">
                        <h6>{{DailySuumary.recevied}}</h6>
                      </div>
                    </div>
  
                  </div>
                </div>
                
  
              </div><!-- End Customers Card -->

                     <!-- Customers Card -->
                     <div class="col-xxl-4 col-md-3" *ngIf="msg.$Role.value=='A' && this.selectedValue==undefined" >

                      <div class="card info-card customers-card" style="background-color:lightgray;">
        
                 
        
                        <div class="card-body" >
                          <h5 class="card-title">Card - Activated (Info) </h5>
        
                          <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                              <ng-template  [ngIf]="this.selectedValue!=undefined">
                                <a [routerLink]="['/listing','ACT',selectedValue]"><i class="bi bi-people"></i></a>
                            </ng-template>
                            <ng-template  [ngIf]="this.selectedValue==undefined">
                             <i class="bi bi-people"></i>
                           </ng-template>
                            </div>
                            <div class="ps-3"  *ngIf="isloading">
                              <h6>{{DailySuumary.activated}}</h6>
                            </div>
                          </div>
        
                        </div>
                      </div>
                      
        
                    </div><!-- End Customers Card -->
         


                                 <!-- Recent Sales -->
                                  
            <div class="col-12">

              <!-- <div class="card recent-sales overflow-auto" > -->
                
             
                <div class="card-body" *ngIf="isloading">
                
                  <table class="table table-hover borderless datatable"  style="border: solid;font-size:large;">
                    <thead>
                        <tr>
                <th>Department </th>
                <th colspan="2">
                        To be Applied <br>  Off-Shore &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; On-Shore
                      </th>
                <th colspan="2">
                        Account Under Prcocess <br>  Off-Shore &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; On-Shore
                      </th>
                <th colspan="2">
                        Card under Prcoess <br>  Off-Shore &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; On-Shore
                      </th>
                <th colspan="2">
                        Bank/Card Received <br>  Off-Shore &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; On-Shore
                      </th>
                <th colspan="2" style="background-color: yellow;">
                        Total <br>  Off-Shore &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; On-Shore
                      </th>
            
                        </tr>
                    </thead>
                    <tbody style="border: solid">
                      <tr style="border: solid"> 
                        <td data-label="Header 1">AJES</td>
                        <td>{{DailySuumary.balOnAJES}}</td>
                        <td>{{DailySuumary.balOffAJES}}</td>
                   
                        <td>{{DailySuumary.onAJESApplied}}</td>
                        <td>{{DailySuumary.offajesApplied}}</td>
                        
                        <td>{{DailySuumary.accAJESY}}</td>
                        <td>{{DailySuumary.accAJESN}}</td>
                    
                        <td>{{DailySuumary.ajesOn}}</td>
                        <td>{{DailySuumary.hAJSoff}}</td>
                      
                        <td style="background-color: yellow;">{{DailySuumary.ajesOn + DailySuumary.totalAjesY}}</td>  
                        <td style="background-color: yellow;">{{DailySuumary.hAJSoff + DailySuumary.totalAjesN}}</td>
                        
                    </tr>
                        <tr style="border: solid">
                            <td data-label="Header 1">Civil</td>
                            <td>{{DailySuumary.balOnCivil}}</td>
                            <td>{{DailySuumary.balOffCivil}}</td>
                            <td>{{DailySuumary.onCivilApplied}}</td>
                            <td>{{DailySuumary.offCivilApplied}}</td>
                            <td>{{DailySuumary.accCivilY}}</td>
                            <td>{{DailySuumary.accCivilN}}</td>
                            <td>{{DailySuumary.civilOn}}</td>
                            <td>{{DailySuumary.hCiviloff}}</td>
                        
                            <td style="background-color:yellow;">{{DailySuumary.civilOn +DailySuumary.totalCivilY}}</td>
                            <td style="background-color:yellow;">{{DailySuumary.hCiviloff + DailySuumary.totalCivilN}}</td>
                            
                        </tr>
                        <tr style="border: solid">
                            <td data-label="Header 1">Mechanical</td>
                            <td>{{DailySuumary.balOnMec}}</td>
                            <td>{{DailySuumary.balOffMec}}</td>
                            <td>{{DailySuumary.onMecApplied}}</td>
                            <td>{{DailySuumary.offMecApplied}}</td>
                            <td>{{DailySuumary.accMechnicalY}}</td>
                            <td>{{DailySuumary.accMechnicalN}}</td>
                            <td>{{DailySuumary.mecOn}}</td>
                            <td>{{DailySuumary.hMecoff}}</td>

                            <td style="background-color:yellow;">{{DailySuumary.mecOn + DailySuumary.totalMecY}}</td>
                            <td style="background-color:yellow;">{{DailySuumary.hMecoff + DailySuumary.totalMecN}}</td>
                            
                        </tr>
                        <tr style="border: solid">
                            <td data-label="Header 1">E&I</td>
                            <td>{{DailySuumary.balOnEI}}</td>
                            <td>{{DailySuumary.balOffEI}}</td>
                            <td>{{DailySuumary.onEIApplied}}</td>
                            <td>{{DailySuumary.offeiApplied}}</td>
                            <td>{{DailySuumary.accEIY}}</td>
                            <td>{{DailySuumary.accEIN}}</td>
                            <td>{{DailySuumary.eiOn}}</td>
                            <td>{{DailySuumary.hEIoff}}</td>

                            <td style="background-color:yellow;">{{DailySuumary.eiOn + DailySuumary.totalEIY}}</td>
                            <td style="background-color:yellow;">{{DailySuumary.hEIoff + DailySuumary.totalEIN}}</td>
                           
                           
                        </tr>

                     
                      <tr style="background-color: darkgray;font-weight: bold">
                          <td style="font-weight: bold;">Total</td>
                         
                          <td>{{DailySuumary.balOnAJES +  DailySuumary.balOnCivil +  DailySuumary.balOnMec +  DailySuumary.balOnEI}}</td>
                          <td>{{DailySuumary.balOffAJES + DailySuumary.balOffCivil + DailySuumary.balOffMec +  DailySuumary.balOffEI}}</td>
                          <td>{{DailySuumary.onAJESApplied + DailySuumary.onCivilApplied + DailySuumary.onMecApplied+  DailySuumary.onEIApplied}}</td>
                          <td>{{DailySuumary.offajesApplied + DailySuumary.offCivilApplied + DailySuumary.offMecApplied + DailySuumary.offeiApplied}}</td>
                          <td>{{DailySuumary.accAJESY + DailySuumary.accCivilY + DailySuumary.accMechnicalY+  DailySuumary.accEIY}}</td>
                          <td>{{DailySuumary.accAJESN +  DailySuumary.accCivilN + DailySuumary.accMechnicalN + DailySuumary.accEIN}}</td>
                          <td>{{DailySuumary.ajesOn +  DailySuumary.civilOn + DailySuumary.mecOn +  DailySuumary.eiOn}}</td>
                          <td>{{DailySuumary.hAJSoff +  DailySuumary.hCiviloff +  DailySuumary.hMecoff +  DailySuumary.hEIoff}} </td>
                          <td style="background-color:yellow;">{{DailySuumary.ajesOn + DailySuumary.totalAjesY + DailySuumary.civilOn +DailySuumary.totalCivilY + DailySuumary.mecOn + DailySuumary.totalMecY + DailySuumary.eiOn + DailySuumary.totalEIY}}</td>
                          <td style="background-color:yellow;">{{DailySuumary.hAJSoff + DailySuumary.totalAjesN  + DailySuumary.hCiviloff + DailySuumary.totalCivilN + DailySuumary.hMecoff + DailySuumary.totalMecN +  DailySuumary.hEIoff + DailySuumary.totalEIN}}</td>
                         
                      </tr>


                        
                    </tbody>
                </table>
              
                 

                </div>


                <div class="card-body" *ngIf="isloading">
                
                 
               
                    <table class="table table-hover borderless datatable" style="border: solid;font-size:large;" >
                      <thead>
                        <tr>
                          <th>Particular</th>
                          <th *ngFor="let day of DailySuumary.ldailyClosing">{{day.closingDate | date:'dd'}}/{{day.closingDate | date:'MM'}}/{{day.closingDate | date:'yy'}}</th>
                         
                        </tr>
                      </thead>
                      <tbody >
                        <tr style="border: solid" *ngFor="let row of getTableData()">
                          <td >{{ row.particular }}</td>
                          <td  *ngFor="let day of DailySuumary.ldailyClosing">{{ row[day.closingDate] }}</td>
                        </tr>
                        
                      </tbody>
                      <tfoot>
                        <tr *ngFor="let row of getTableDataGrandTotal()">
                          <td  style="background-color: yellow;font-weight:bold">{{ row.particular }}</td>
                          <td  *ngFor="let day of DailySuumary.lTotalClosing" style="background-color: yellow;font-weight:bold">{{ row[day.closingDate] }}</td>

                        </tr>
                      </tfoot>
                    </table>


                    <table class="table table-hover borderless datatable" style="border: solid;font-size:large;" >
                      <thead>
                        <tr>
                          <th>Particular</th>
                          <th *ngFor="let day of DailySuumary.lTotalClosing">{{day.closingDate | date:'dd'}}/{{day.closingDate | date:'MM'}}/{{day.closingDate | date:'yy'}}</th>
                         
                        </tr>
                      </thead>
                      <tbody >
                        <tr style="border: solid" *ngFor="let row of getTableDataTotal()">
                          <td style="background-color: yellow;">{{ row.particular }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                          <td *ngFor="let day of DailySuumary.lTotalClosing" style="background-color: yellow;">{{ row[day.closingDate] }}</td>
                        </tr>
                        
                      </tbody>
                    
                    </table>
               
                  </div>

                  <div class ="button-container">
                    <ng-template [ngIf]="msg.$Role.value=='A' && this.selectedValue==undefined">
                      <button type="button" class="btn btn-success" (click)="Refresh()">Refresh</button>
                      <button type="button" class="btn btn-warning ms-4" (click)="Download()">Download Daily Summary</button>
                    </ng-template>
                    <ng-template [ngIf]="msg.$Role.value=='A' && this.selectedValue==undefined">
                      <span class="right">
                       <button type="button" class="btn btn-danger button-container" (click)="InitiateDayEnd()">DayEnd Prcoess</button>
                       </span>  
                      </ng-template>
                      <ng-template [ngIf]="msg.$Role.value=='O' && this.selectedValue==undefined">
                        <button type="button" class="btn btn-success" (click)="Refresh()">Refresh</button>
                        <button type="button" class="btn btn-warning ms-4" (click)="Download()">Download Daily Summary</button>
                      </ng-template> 

                      <ng-template [ngIf]="this.selectedValue!=undefined">
                        <span>
                         <button type="button" class="btn btn-warning button-container" (click)="offlinedownload()">Download Daily Summary</button>
                         </span>  
                        </ng-template>
                      
                    </div>  
                 
                    

              <!-- </div> -->
              


            </div><!-- End Recent Sales --> 
                    <!--New One -->




            <!-- Recent Sales -->
          

            <!-- Top Selling -->
           

          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        

      </div>
    </section>


      <!-- The Modal -->
  <div class="modal" id="myModal" [style.display]="showModal ? 'block' : 'none'">
    <div class="modal-dialog">
      <div class="modal-content">
      
       
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title"> Day End Process</h4>
          <button type="button" class="close" data-dismiss="modal" (click) = "hide()" >&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              

              <!-- Vertical Form -->
              <form  class="row g-3 needs-validation" novalidate>

                <div class="col-12">
                  <label for="inputNanme4" class="form-label">Enter Password</label>
                  <input type="text" class="form-control" autocomplete="false"
                   id="pwd" 
                   name="pwd"
                   [(ngModel)]="DayEndPwd"/>
                  
                </div>
                             
              
                <div class="text-center">
                  <button  type="button" class="btn btn-primary w-10" (click)="StartDayEndProcess()" >Start Day End Process</button>
                 
                </div>
              </form><!-- Vertical Form -->

            </div>
          </div>

            

        </div>
        
        
        
      </div>
    </div>
</div>

  </main><!-- End #main -->
