


      
            <li class="nav-item">
              
              <a class="nav-link " [routerLink]="['masterfile']">
                <i class="bi bi-folder-fill"></i><span>MasterFile</span>
              </a>
            </li>
            <li class="nav-item">
              
              <a class="nav-link"  [routerLink]="">
                <i class="bi bi-folder-fill"></i><span>Cash to Bank</span>
              </a>
            </li>

            <li class="nav-item">
              
              <a class="nav-link"  [routerLink]="">
                <i class="bi bi-folder-fill"></i><span>Atm Card</span>
              </a>
            </li>

            <li class="nav-item">
              
              <a class="nav-link"  [routerLink]="">
                <i class="bi bi-folder-fill"></i><span>Cancellation</span>
              </a>
            </li>
         
       
    
        
  
    
   
